.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100%;
  padding-bottom: 5.3em;
  position: relative;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alexcravalho-portfolio.s3-us-west-2.amazonaws.com/Isalo.jpg);
  color: white;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 10px #1a1d1e;
}

.info {
  width: 75%;
  margin: auto;
}

.home-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 3em;
  margin-right: 3em;
}

.home-button {
  display: flex;
  flex-direction: row;
  font-size: 3vw;
  margin: 2vh;
  padding: 7px;
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-button-text {
  margin: 0.35em 0em 0.35em 0em;
}

.name {
  font-size: 7.5vw;
  line-height: 10vh;
  margin-top: 13vh;
  text-transform: uppercase;
}

.position {
  font-size: 4vw;
  margin: 8vh;
  margin-bottom: 15vh;
  line-height: 8vh;
  font-weight: 500;
  color: rgb(43, 102, 44);
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #1a1d1e;
}

.heading {
  font-size: 45px;
  margin-bottom: 20px;
}

.Skills,
.Recent,
.Experience,
.Education {
  margin: 0em 3em 3em 3em;
}

.About {
  margin: 3em 3em 3em 3em;
}

.about-text {
  font-size: 18px;
  line-height: 28px;
}

.about-pic-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.about-img {
  width: 350px;
  margin: 1em 1em 1em 1em;
  box-shadow: 1px 1px 3px #1A1D1E;
}

.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sub-heading {
  font-size: 24px;
  font-weight: 700;
}

.item,
.button {
  margin: 8px 8px 16px 0px;
  padding: 8px;
  font-size: 22px;
  color: #fff;
  border-radius: 4px;
  background: #508853;
  font-weight: 300;
}

.application-list {
  display: flex;
  flex-direction: column;
}

.application-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.recent-img {
  box-shadow: 1px 1px 3px #1a1d1e;
  width: 320px !important;
  height: 280px !important;
}

.recent-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 547px;
}

.recent-title {
  font-size: 32px;
  margin-bottom: 8px;
}

.recent-skills {
  text-align: center;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.recent-description {
  font-size: 17px;
  line-height: 30px;
  padding-left: 15px;
}

.recent-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  font-size: 18px;
  margin: 15px 45px 0px 45px;
}

.dropdown-container {
  font-size: 22px;
}

.dropdown-grey {
  background-color: rgb(198, 198, 198);
  color: black;
  border: 1px solid rgb(181, 181, 181);
  padding: 15px;
  margin-top: 5px;
  box-shadow: 1px 1px 3px #1a1d1e;
  cursor: pointer;
}
.dropdown-green {
  background-color: #508853;
  color: #fff;
  border: 1px solid #508853;
  padding: 15px;
  margin-top: 5px;
  box-shadow: 1px 1px 3px #1a1d1e;
  cursor: pointer;
}

.dropdown-symbol {
  float: right;
  font-size: 1.5rem;
}

.dropdown-date-grey,
.job-date {
  margin-left: 0.7em;
  font-size: 18px;
  color: rgb(74, 74, 74);
}
.dropdown-date-white {
  margin-left: 0.7em;
  font-size: 18px;
  color: #fff;
}

.invisible-dropdown {
  font-size: 18px;
  padding: 15px;
  margin-top: 5px;
  line-height: 30px;
  text-align: left;
  border: 1px solid rgb(205, 203, 206);
}

.invisible-dropdown-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.job-description {
  background-color: rgb(198, 198, 198);
  color: black;
  border: 1px solid rgb(181, 181, 181);
  padding: 25px;
  box-shadow: 1px 1px 3px #1a1d1e;
  cursor: pointer;
  margin: 15px 0px 15px 0px;
}

.job-title {
  font-size: 23px;
  font-weight: bold;
}

.job-text {
  font-size: 16px;
  padding: 10px;
  line-height: 30px;
}
