@font-face {
  font-family: 'Anurati';
  src: local('Anurati'), url(../fonts/Anurati-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Ailerons';
  src: local('Ailerons'), url(../fonts/Ailerons-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Exan';
  src: local('Exan'), url(../fonts/Exan-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Simple';
  src: local('Simple'), url(../fonts/Simple-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Michroma';
  src: local('Michroma'), url(../fonts/Michroma-Regular.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://alexcravalho-portfolio.s3-us-west-2.amazonaws.com/grey-background.webp);
  color: #fff;
  margin: 0;
  font-family: 'Simple';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #031321;
  --primary-color: #2196f3;
  --secondary-color: #255784;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100%;
  padding-bottom: 3.7em;
  position: relative;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alexcravalho-portfolio.s3-us-west-2.amazonaws.com/FutureCityscape.webp);
  color: white;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.info {
  width: 75%;
  margin: auto;
}

.home-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15vh 3em 0vh 3em;
}

.home-button {
  display: flex;
  flex-direction: row;
  font-size: 3vw;
  margin: 2vh;
  margin-top: 0vh;
  padding: 7px;
  font-weight: 800;
  transition: .3s;
}

.home-button:hover {
    color: #9fc6e6;
    text-shadow:
      0 0 5px #58adf3,
      0 0 10px #58adf3,
      0 0 30px var(--primary-color),
      0 0 60px var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.home-button-text {
  line-height: 1.5;
  margin: 0.35em 0em 0.35em 0em;
}

.name {
  font-family: 'Anurati';
  font-size: 7.5vw;
  line-height: 10vh;
  margin-top: 13vh;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffd8d8;
  text-shadow:
    0 0 5px #f25757,
    0 0 10px #f25757,
    0 0 30px #e50b0b,
    0 0 60px #e50b0b;
}

.position {
  font-family: 'Exan';
  font-size: 4vw;
  margin: 8vh;
  line-height: 8vh;
  font-weight: 500;
  text-transform: uppercase;
  color: #9fc6e6;
  text-shadow:
    0 0 5px #58adf3,
    0 0 10px #58adf3,
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}

.heading {
  font-size: 55px;
  margin-bottom: 20px;
  font-family: 'Ailerons';
  color: #9fc6e6;
  text-shadow:
    0 0 5px #58adf3,
    0 0 10px #58adf3,
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}

.Skills,
.Recent,
.Experience,
.Education {
  margin: 0em 3em 3em 3em;
}

.About {
  margin: 3em 3em 3em 3em;
}

.about-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2em;
}

.about-pic-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.about-img {
  width: 250px;
  margin: 1em 1em 1em 1em;
  box-shadow: 0.1em 0.1em 0.2em black;
}

.skill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 8px 16px 0px;
  padding: .5em;
  padding-top: 13px;
  box-sizing: border-box;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
  border-radius: 4px;
  border: var(--primary-color) solid 1px;
}

.skill-hover-text {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  text-transform: none;
  letter-spacing: 0em;
}

.skill-hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.skill:hover .skill-hover-text {
  visibility: visible;
  opacity: 1;
 }

.sub-heading {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Michroma';
  letter-spacing: .2em;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.application-list {
  display: flex;
  flex-direction: column;
}

.application-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.recent-img {
  box-shadow: 0.1em 0.1em 0.2em black;
  width: 320px !important;
  height: 280px !important;
}

.recent-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 547px;
}

.recent-title {
  font-size: 32px;
  margin-bottom: 8px;
  font-family: 'Michroma';
  letter-spacing: .1em;
  padding-left: 10px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.recent-skills {
  text-align: center;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.recent-description {
  font-size: 17px;
  line-height: 30px;
  padding-left: 15px;
}

.recent-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown-container {
  font-size: 22px;
}

.dropdown-grey {
  background-color: rgb(198, 198, 198);
  color: black;
  border: 1px solid rgb(181, 181, 181);
  padding: 15px;
  margin-top: 5px;
  box-shadow: 1px 1px 3px #1a1d1e;
  cursor: pointer;
}
.dropdown-blue {
  color: white;
  border: 1px solid var(--primary-color);
  padding: 15px;
  margin-top: 5px;
  box-shadow: 1px 1px 3px #1a1d1e;
  cursor: pointer;
  background: var(--primary-color);
  box-shadow:
    0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}

.dropdown-title {
  font-weight: 600;
  font-family: 'Michroma';
  font-size: 20px;
  letter-spacing: .05em;
}

.dropdown-symbol {
  float: right;
  font-size: 1.5rem;
}

.dropdown-date-grey,
.job-date {
  margin-left: 0.7em;
  font-size: 18px;
  color: rgb(74, 74, 74);
}
.dropdown-date-white {
  margin-left: 0.7em;
  font-size: 18px;
  color: #fff;
}

.invisible-dropdown {
  font-size: 18px;
  padding: 15px;
  margin-top: 5px;
  line-height: 30px;
  text-align: left;
  border: 1px solid rgb(205, 203, 206);
}

.invisible-dropdown-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Michroma';
  letter-spacing: .05em;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.invisible-dropdown-text {
  font-size: 18px;
  font-weight: 400;
}

.job-description {
  background-color: rgb(198, 198, 198);
  color: black;
  border: 1px solid rgb(181, 181, 181);
  padding: 25px;
  box-shadow: 1px 1px 3px #1a1d1e;
  margin: 20px 0px 20px 0px;
}

.job-title {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Michroma';
}

.job-text {
  font-size: 16px;
  padding: 10px;
  line-height: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-top {
  font-size: 20px;
  margin: 60px;
}

.bottom-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(203, 203, 203);;
  background-image: linear-gradient(to top, #242424 0%, #303030 100%);
}

.project-link {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.link-text {
  font-size: 1.5vw;
  line-height: 1.5;
}

.footer-button {
  font-size: 2vw;
  margin-left: 2vh;
  font-weight: 800;
}
.footer-button:hover {
  color: var(--primary-color);
}
.like-page-text {
  font-size: 3vw;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 40px;
}
.footer-icon-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.icon-button {
  font-size: 4.5vw;
  margin-left: 30px;
  margin-right: 30px;
}
.icon-button:hover {
  color: var(--primary-color);
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 45px 0px 45px;
  padding: .5em;
  padding-top: 13px;
  box-sizing: border-box;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
  border-radius: 4px;
  border: var(--primary-color) solid 1px;
}

.btn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow:
    0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}
