@font-face {
  font-family: 'Anurati';
  src: local('Anurati'), url(../fonts/Anurati-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Ailerons';
  src: local('Ailerons'), url(../fonts/Ailerons-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Exan';
  src: local('Exan'), url(../fonts/Exan-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Simple';
  src: local('Simple'), url(../fonts/Simple-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Michroma';
  src: local('Michroma'), url(../fonts/Michroma-Regular.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(https://alexcravalho-portfolio.s3-us-west-2.amazonaws.com/grey-background.webp);
  color: #fff;
  margin: 0;
  font-family: 'Simple';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bg-color: #031321;
  --primary-color: #2196f3;
  --secondary-color: #255784;
}
.App, .Home, .home-buttons-container, .recent-text-container, .bottom-panel, .footer, .application-list, .Education, .dropdown-container {
  display: flex;
  flex-direction: column;
}
.App, .Home, .home-buttons-container, .recent-text-container, .bottom-panel, .footer {
  align-items: center;
}
.home-button, .about-pic-row, .skill-container, .skill, .recent-button-container, .project-link, .footer-icon-holder, .btn {
  display: flex;
  flex-direction: row;
}
.about-pic-row, .skill-container, .footer-icon-holder {
  flex-wrap: wrap;
}
.Home {
  width: auto;
  height: 100%;
  position: relative;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alexcravalho-portfolio.s3-us-west-2.amazonaws.com/FutureCityscape.webp);
  color: white;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.info {
  width: 100%;
  margin: auto;
}
.home-buttons-container {
  margin: 5.3em 0em 0em 0em;
}
.home-button {
  font-size: 1.25em;
  letter-spacing: .05em;
  margin: 0em 1em .5em 0em;
  font-weight: 800;
  transition: .3s;
}
.home-button:hover {
    color: #9fc6e6;
    text-shadow:
      0 0 5px #58adf3,
      0 0 10px #58adf3,
      0 0 30px var(--primary-color),
      0 0 60px var(--primary-color);
}
a {
  color: inherit;
  text-decoration: none;
}
.home-button-text {
  line-height: 1.5;
  margin: 0.35em 0em 0.35em 0em;
}
.name {
  font-family: 'Anurati';
  font-size: 42px;
  text-align: center;
  margin: 1.5em 0em .2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffd8d8;
  text-shadow:
    0 0 5px #f25757,
    0 0 10px #f25757,
    0 0 30px #e50b0b,
    0 0 60px #e50b0b;
}
.position {
  font-family: 'Exan';
  font-size: 24px;
  text-align: center;
  margin: 0em 0em .2em 0em;
  font-weight: 500;
  text-transform: uppercase;
  color: #9fc6e6;
  text-shadow:
    0 0 5px #58adf3,
    0 0 10px #58adf3,
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}
.heading {
  text-align: center;
  font-size: 3em;
  margin: 0em 0em .4em 0em;
  font-family: 'Ailerons';
  color: #9fc6e6;
  text-shadow:
    0 0 5px #58adf3,
    0 0 10px #58adf3,
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}
.Skills,
.Recent,
.Experience,
.Education {
  margin: 0em 1em 1em;
}
.About {
  margin: 1em;
}
.about-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 2em;
}
.about-pic-row {
  width: 100%;
}
.about-img {
  width: 51vh;
  margin: 1em 1em 1em 0em;
  box-shadow: 0.1em 0.1em 0.2em black;
}
.skill {
  position: relative;
  margin: 8px 8px 16px 0px;
  padding: .5em;
  padding-top: 13px;
  box-sizing: border-box;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
  border-radius: 4px;
  border: var(--primary-color) solid 1px;
}
.skill-hover-text {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  text-transform: none;
  letter-spacing: 0em;
}
.skill-hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.skill:hover .skill-hover-text {
  visibility: visible;
  opacity: 1;
 }
.sub-heading {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Michroma';
  letter-spacing: .2em;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.application-item {
  margin-bottom: 30px;
}
.recent-img {
  box-shadow: 0.1em 0.1em 0.2em black;
  width: 0px !important;
  height: 0px !important;
}
.recent-title {
  font-size: 1.2em;
  margin-bottom: .6em;
  font-family: 'Michroma';
  letter-spacing: .1em;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.recent-skills {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.recent-description {
  font-size: 16px;
  line-height: 30px;
  padding-left: 15px;
}
.recent-button-container {
  width: 100%;
  justify-content: center;
}
.dropdown-container {
  font-size: 16px;
}
.dropdown-grey, .dropdown-blue {
  padding: 15px;
  margin-top: 5px;
  cursor: pointer;
}
.dropdown-grey {
  background-color: rgb(198, 198, 198);
  color: black;
  border: 1px solid rgb(181, 181, 181);
}
.dropdown-blue {
  color: white;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  box-shadow:
    0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}
.dropdown-title {
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-family: 'Michroma';
  letter-spacing: .05em;
}
.dropdown-symbol {
  text-align: center;
  font-size: 1.5rem;
}
.dropdown-date-grey {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 18px;
  color: rgb(74, 74, 74);
}
.dropdown-date-white {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 18px;
  color: #fff;
}
.invisible-dropdown {
  padding: 15px;
  margin-top: 5px;
  line-height: 30px;
  text-align: left;
  border: 1px solid rgb(205, 203, 206);
}
.invisible-dropdown-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Michroma';
  letter-spacing: .05em;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.job-description {
  background-color: rgb(198, 198, 198);
  color: black;
  border: 1px solid rgb(181, 181, 181);
  padding: 10px;
  box-shadow: 0.1em 0.1em 0.2em black;
  margin: 20px 0px 20px 0px;
}
.job-title {
  text-align: center;
  margin-bottom: .5em;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Michroma';
}
.job-text {
  font-size: 16px;
  padding: 10px;
  line-height: 30px;
}
.job-date {
  text-align: center;
  font-size: 18px;
  color: rgb(74, 74, 74);
}
.back-to-top {
  font-size: 20px;
  margin: 60px;
}
.bottom-panel {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  font-size: 20px;
  color: rgb(203, 203, 203);;
  background-image: linear-gradient(to top, #242424 0%, #303030 100%);
}
.project-link {
  margin-top: 30px;
}
.link-text {
  line-height: 1.5;
}
.footer {
  width: 100%;
}
.footer-button {
  font-size: 28px;
  margin-left: 2vh;
  font-weight: 800;
}
.footer-button:hover {
  color: var(--primary-color);
}
.like-page-text {
  font-size: 30px;
  font-weight: 300;
  margin: .8em 0em 1em;
}
.footer-icon-holder {
  margin-bottom: 2em;
}
.icon-button {
  font-size: 40px;
  margin: 0px 13px;
}
.icon-button:hover {
  color: var(--primary-color);
}
.btn {
  margin: .8em 1em;
  padding: .5em;
  padding-top: 13px;
  box-sizing: border-box;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
  border-radius: 4px;
  border: var(--primary-color) solid 1px;
}
.btn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow:
    0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 30px var(--primary-color),
    0 0 60px var(--primary-color);
}
@media only screen and (min-height: 568px) {
  .home-buttons-container {
    margin: 6em 0em 0em 0em;
  }
}
/* fits 360px width screen */
@media only screen and (min-width: 360px) {
  .home-buttons-container {
    margin: 6.9em 0em 0em 0em;
  }
  .footer {
    margin: 0em 0em 2em 0em;
  }
}
/* fits 375px width screen */
@media only screen and (min-width: 375px) {
  .name {
    font-size: 14vw;
  }
  .position {
    font-size: 7.5vw;
  }
  .about-img {
    width: 92vw;
  }
  .home-button {
    margin: 0em;
  }
  .home-buttons-container {
    margin: 6.9em 0em 0em 0em;
  }
}
@media only screen and (min-height: 667px) {
  .footer {
    margin: 0em 0em 18vw 0em;
  }
}
/* fits 411px width screen */
@media only screen and (min-width: 411px) {
  .name {
    font-size: 14vw;
  }
  .position {
    font-size: 7.5vw;
  }
  .about-img {
    width: 92vw;
  }
  .home-button {
    margin: 0em;
  }
  .home-buttons-container {
    margin: 5.6em 0em 0em 0em;
  }
}
@media only screen and (min-height: 731px) {
  .footer {
    margin: 0em 0em 30vw 0em;
  }
}
@media only screen and (min-height: 812px) {
  .footer {
    margin: 0em 0em 54vw 0em;
  }
}
@media only screen and (min-height: 823px) {
  .footer {
    margin: 0em 0em 54vw 0em;
  }
}
/* For Normal Computer */
@media only screen and (min-width: 768px) {
  .name {
    font-size: 8.5vw;
    margin: 1.2em 0em .2em;
    line-height: 10vh;
    margin: 13vh 0em 0em 0em;
  }
  .position {
    font-size: 4vw;
    margin: 8vh;
  }
  .about-pic-row {
    flex-direction: column;
    align-items: center;
  }
  .about-img {
    width: 60%;
  }
  .Home {
    padding-bottom: 3.7em;
  }
  .home-buttons-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15vh 3em 0em;
  }
  .home-button {
    font-size: 3vw;
    margin: 0 2vh 2vh;
    font-weight: 800;
    padding: 7px;
  }
  .About, .Skills, .Education {
    margin: 4em 12em 0em 12em;
  }
  .Recent {
    margin: 4em 3em 0em 3em;
  }
  .heading {
    font-size: 5.5vw;
    position: relative;
    left: -.15em;
  }
  .application-item {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 0px 0px;
  }
  .recent-text-container {
    margin: 0em 0em 0em 1em;
  }
  .recent-button-container {
    margin: 1em 0em 0em 0em;
  }
  .recent-title {
    font-size: 2.3vw;
  }
  .Experience {
    margin: 4em 10.5em 0em 10.5em;
  }
  .job-description {
    padding: 25px;
  }
  .job-text {
    padding: 20px;
  }
  .dropdown-grey, .dropdown-blue {
    display: inline;
    padding: 15px;
  }
  .dropdown-title {
    font-size: 20px;
    display: inline;
  }
  .dropdown-date-grey, .dropdown-date-white {
    margin: 0em 0em 0em .7em;
    display: inline;
  }
  .dropdown-symbol {
    float: right;
    margin: 0.2em 0em;
  }
  .invisible-dropdown-title {
    font-size: 20px;
    text-align: left;
  }
  .sub-heading {
    font-size: 24px;
  }
  .skill {
    font-weight: bold;
    font-size: 18px;
  }
  .skill-hover-text{
    font-weight: normal;
  }
  .btn {
    font-size: 18px;
    margin: 0.8em 3em;
  }
  .footer {
    margin: 0em 0em 0em 0em;
  }
  .link-text {
    line-height: 1.3;
  }
  .bottom-panel {
    font-size: 25px;
  }
  .like-page-text {
    font-size: 40px;
  }
  .icon-button {
    font-size: 70px;
    margin: 0px 25px;
  }
}
@media only screen and (min-width: 1000px) {
  .recent-img {
    width: 320px !important;
    height: 280px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .Recent {
    margin: 4em 12em 0em 12em;
  }
}